# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Generated
*.xcodeproj

# macOS
.DS_Store
*.swp
*~

# Dependencies
Pods/
Carthage/

# Environments
venv/
.venv/
